# Dependencies
node_modules
*.log*

# Build
dist
packages/*/cdn
storybook-static
cache

# Artefacts
__screenshots__
test-results
playwright-report

# System Files
.DS_Store
Thumbs.db

## Misc
.env
.nx

# AI Files
.claude/settings.local.json
.claude/plans
