# Dependencies
node_modules
*.log*

# Build
dist
cdn
storybook-static
cache

# Yarn Berry
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
.env.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# AI Files
CLAUDE.md

# Artefacts
__screenshots__

# System Files
.DS_Store
Thumbs.db

## Misc
.env
.nx
