@import './_base.css';

@layer components {
  @scope (l-input-stepper[appearance='rounded']) {
    :scope {
      gap: 0.25rem;
    }

    button {
      border: 1px solid var(--border-color);
      border-radius: var(--l-radius-full);
      background-color: var(--l-form-control-background-color);
    }

    @media (hover: hover) {
      button:hover:not(:disabled) {
        border-color: var(--l-color-text-primary);
        background-color: transparent;
      }
    }

    button:active:not(:disabled) {
      border-color: var(--l-color-text-primary);
      background-color: var(--_button-bg-active);
    }

    button:disabled {
      border-color: var(--l-form-control-disabled-border);
    }
  }
}
