.api-list {
  margin: 16px 0;
}

.api-list-item {
  padding: 12px 0;
}

.api-list-item + .api-list-item {
  border-top: 1px solid var(--vp-c-divider);
}

.api-list dt {
  display: flex;
  align-items: center;
  gap: 8px;
}

.api-list dt code {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--vp-c-brand-1);
  background-color: var(--vp-c-brand-soft);
  padding: 4px 6px;
  border-radius: 32px;
  corner-shape: squircle;
}

.api-list-label {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--vp-c-text-3);
  text-transform: lowercase;
}

.api-list dd {
  margin: 6px 0 0;
  font-size: 0.875rem;
  color: var(--vp-c-text-2);
  line-height: 1.5;
}

.api-list dd code {
  font-weight: 500;
  font-size: 0.8125rem;
  padding: 2px 6px;
  background-color: var(--vp-c-bg-soft);
  border-radius: 4px;
}

.api-list dd a {
  font-weight: 500;
  color: var(--vp-c-brand-1);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition:
    color 0.25s,
    opacity 0.25s;
}
