/* https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/theme.css */

@theme inline {
  --radius-full: calc(infinity * 1px);
}

@layer theme {
  :root {
    --l-color-status-neutral-weak: var(--color-gray-50);
    --l-color-text-neutral: var(--color-gray-700);

    --l-color-status-info-weak: var(--color-blue-50);
    --l-color-text-info: var(--color-blue-700);

    --l-color-status-warning-weak: var(--color-yellow-50);
    --l-color-text-warning: var(--color-yellow-700);

    --l-color-status-danger-weak: var(--color-red-50);
    --l-color-text-danger: var(--color-red-700);

    --l-color-status-success-weak: var(--color-green-50);
    --l-color-text-success: var(--color-green-700);
  }
}
